<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<p class="title">
  Title:<%= @book.title %>
</p>
<p class="body">
  Body:<%= @book.body %>
</p>

<p class="link">
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %>
</p>